.principal{background-color: gray;
text-align: center;}
body { 
}
.banner {
    width: 100%;
}
em strong {
    color: red;
}


.beneficio {
   
    display: inline-block;
    vertical-align: top;
   
}